# User-specific files

.vs/

*.suo

CvGameCoreDLL/project/Debug/

CvGameCoreDLL/project/Release/

CvGameCoreDLL/project/Release-fast/

CvGameCoreDLL/project/temp_files/

CvGameCoreDLL/project/Final_Release/

CvGameCoreDLL/project/Final_Release-fast/

CvGameCoreDLL/project/obj/

CvGameCoreDLL/project/Assert/

CvGameCoreDLL/project/Assert-fast/

CvGameCoreDLL/project/Debug-fast/
