# User-specific files

.vs/

*.suo

CvGameCoreDLL/project/temp_files/

CvGameCoreDLL/project/Debug/
CvGameCoreDLL/project/Debug-fast/
CvGameCoreDLL/project/Assert/
CvGameCoreDLL/project/Assert-fast/
CvGameCoreDLL/project/Release/
CvGameCoreDLL/project/Release-fast/
CvGameCoreDLL/project/Final_Release/
CvGameCoreDLL/project/Final_Release-fast/

CvGameCoreDLL/project/obj/


